.App {
	height: 100%;
	overflow: hidden;
}

main {
	height: 100%;
	display: flex;
}

.Inputs {
	display: flex;
	gap: 5%;
	padding: 16px;
}

.Inputs > div {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tooltip {
	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
	position: relative;
	width: 120px;
	border-radius: 10px;
	top: 20px;
}
.tooltip > * {
	margin: 8px;
}

.stripe {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.stripe:hover > .tooltip {
	visibility: visible;
}
